.shoppingBag {
    position: relative;
    width: 20px;
    height: 20px;
}

.shoppingBag span {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -35%;
    font-size: 0.5rem;
    font-weight: bold;
}
